* {
  border: none;
  border-radius: 0;
  font-family: "Adwaita Sans Mono";
  font-weight: 400;
  font-size: 22px;
  min-height: 0;
}

window#waybar {
  border-radius: 16px;
  background: #0d1117;
  color: #93B1A6;
}

tooltip {
  background: #0d1117;
  border-radius: 14px;
  border: 1px solid #21262d
}

tooltip label {
  color: #93B1A6;
}

#workspaces {
  border-radius: 16px 24px 24px 16px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.08);
  margin-left: 10px;
}

#workspaces button {
  min-width: 28px;
  border-radius: 20px;
  margin: 4px 0;
  padding: 4px;
  color: #6f6b74;
}

#workspaces button:not(:last-child) {
  margin-right: 4px;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  border-radius: 10px;
}

#workspaces button.active,
#workspaces button.active:hover {
  background: rgba(0, 180, 180, 0.6);
  color: #0d1117;
  border-radius: 10px;
}

#workspaces button.focused {
  color: #ffffff;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #ff877f;
  border-radius: 10px;
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#language,
#tray,
#custom-playerctl,
#custom-playerlabel,
#taskbar,
#workspaces,
#backlight {
  opacity: 1;
  padding: 0px 12px;
  margin: 0px 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 0px solid #c999f7;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.08);
}

#tray {
  padding: 0px 16px;
  margin-right: 10px;
}

#network {
  border-radius: 24px 0 0 24px;
  padding-left: 24px;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#temperature.critical {
  color: red;
}

#clock {
  padding-right: 16px;
  border-radius: 20px;
  color: #ffffff;
}

#pulseaudio {
  color: #89b4fa;
}

#battery {
  color: #00B4B4;
}