* {
  border: none;
  border-radius: 0;
  font-family: "Roboto", "Material Icons", sans-serif;
  font-weight: bold;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}


#workspaces button {
  padding: 6px;
  color: #6f6b74;
  margin-right: 5px;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button.focused {
  color: #ffffff;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #ff877f;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #ffffff;
  border-radius: 10px;
}

#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#language,
#tray,
#custom-playerctl,
#custom-playerlabel,
#taskbar {
  opacity: 0.8;
  padding: 0px 3px;
  margin: 0px 0px;
  margin-top: 2px;
  margin-bottom: 3px;
  border: 0px solid #ffffff;
  border-radius: 6px;
}

#tray {
  margin-right: 10px;
}

#workspaces {
  margin-left: 10px;
}

#clock {
  color: #ffffff;
}

#pulseaudio {
  color: #ffffff;
}

#battery {
  color: #ffffff;
}
